.header {
    color: rgb(52, 47, 7);
}

.subheader {
    color: blue;
    font-style: italic;
}

.navbar {
    background: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.bodybox {
    background: #fae2a0;
}

.textbox {
    background: #f7cb52;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.nav-option {
    color: rgb(179, 154, 12);
    margin-right: 5px;
}

.image {
    width: 370px;
}

.image2 {
    width: 200px;
}
   